---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import PElogo from "../../components/PElogo.astro";
import SerieScore from "../../components/SerieScore.astro";

export async function getStaticPaths() {
    const bidimensional = await getCollection("bidimensional");

    return bidimensional.map((serie) => ({
        params: { id: serie.slug },
        props: { serie },
    }));
}

const { serie } = Astro.props;
const { data, slug } = serie;
const { title, img, imgUrl, description } = data;

const { Content } = await render(serie);
export const prerender = true
---

<Layout title={`${title} - Pedro Escapa`}>
    <div class="flex gap-12">
        <aside class="flex flex-col items-center gap-4">
            <a href="/" class="absolute left-6 top-8 hover:underline opacity-70"
                >⬅ Volver</a
            >
            <img
                transition:name={`img-${slug}`}
                class="mr-6 w-full"
                src={`/${img}`}
                alt={title}
            />
            <SerieScore server:defer id="score">
                <span slot="fallback" class="text-xs">Recabando información...</span>
            </SerieScore>
            {
                SHOW_BUY_BUTTON && (
                    <a
                        href="/"
                        class="text-balance inline-flex gap-2 items-center bg-red-300 rounded-4xl hover:bg-red-600 text-black font-bold py-2 px-4"
                    >
                        Visitar
                        <PElogo />
                    </a>
                )
            }
        </aside>
        <main class="max-w-sm">
            <h1 class="text-4xl font-bold mb-4">{title}</h1>
            <div class="prose prose-strong:text-emerald-700">
                <Content />
            </div>
        </main>
    </div>
</Layout>
