---
import img1 from "@assets/images/bidimensional/98-01/01.webp";
import img2 from "@assets/images/bidimensional/98-01/02.webp";
import img3 from "@assets/images/bidimensional/98-01/03.webp";
import leftArrow from "@assets/icons/flechaIzq.svg"
import rightArrow from "@assets/icons/flechaDer.svg"
import { Image } from "astro:assets";
---

<div class="w-full h-full py-9 px-9 relative">
  <!-- Carrusel -->
  <ul
    id="carousel"
    class="h-full w-full py-32 flex flex-row overflow-x-auto snap-x snap-mandatory scroll-smooth no-scrollbar"
  >
    <li class="snap-start min-w-full flex flex-col justify-center items-center relative">
      <Image src={img1} alt="img1" class="h-full object-contain" />
      <p class="text-center absolute bottom-0 translate-y-16">
        <span class="italic">Título</span>, técnica, año y medidas.
      </p>
    </li>
    <li class="snap-start min-w-full flex flex-col justify-center items-center relative">
      <Image src={img2} alt="img2" class="h-full object-contain" />
      <p class="text-center absolute bottom-0 translate-y-16">
        <span class="italic">Título</span>, técnica, año y medidas.
      </p>
    </li>
    <li class="snap-start min-w-full flex flex-col justify-center items-center relative">
      <Image src={img3} alt="img3" class="h-full object-contain" />
      <p class="text-center absolute bottom-0 translate-y-16">
        <span class="italic">Título</span>, técnica, año y medidas.
      </p>
    </li>
  </ul>

  <!-- Flecha izquierda -->
  <button
    onclick="document.getElementById('carousel').scrollBy({ left: -window.innerWidth, behavior: 'smooth' })"
    class="absolute top-1/2 left-4 -translate-y-1/2 rounded-full p-2 cursor-pointer"
    aria-label="Anterior"
  >
    <Image src={leftArrow} alt="Anterior" class="size-8" />
  </button>

  <!-- Flecha derecha -->
  <button
    onclick="document.getElementById('carousel').scrollBy({ left: window.innerWidth, behavior: 'smooth' })"
    class="absolute top-1/2 right-4 -translate-y-1/2 rounded-full p-2 cursor-pointer"
    aria-label="Siguiente"
  >
    <Image src={rightArrow} alt="Siguiente" class="size-8" />
  </button>
</div>
