---
import { menu } from "@lib/menu";
---

<nav class="flex flex-col w-full h-ful overflow-auto no-scrollbar">
    <form class="text-xs space-y-[20px] font-semibold tracking-widest">
        {
            menu
                .filter(item => item.visible !== false) // Solo mostrar elementos visibles
                .map((item) => (
                    <div>
                        {item.subitems ? (
                            <div class="flex flex-col">
                                <input
                                    type="radio"
                                    name="menu"
                                    id={item.id}
                                    class="hidden peer"
                                />
                                <label
                                    for={item.id}
                                    class="inline-block font-medium cursor-pointer"
                                >
                                    {item.label}
                                </label>
                                <ul
                                    class="
                                        ml-[1px] max-h-0 overflow-hidden opacity-0
                                        peer-checked:max-h-80 peer-checked:opacity-100 peer-checked:space-y-[10px] space-y-0
                                        peer-checked:pt-[15px] pt-0
                                        transition-all duration-400 ease-in-out
                                        text-[#878383] font-medium capitalize"
                                >
                                    {item.subitems
                                        .filter(subitem => subitem.visible !== false) // Solo mostrar subelementos visibles
                                        .map((sub) => (
                                            <li>
                                                <a 
                                                    href={`/${item.id}/${sub.slug}`} 
                                                    class="hover:italic"
                                                >
                                                    {sub.label}
                                                </a>
                                            </li>
                                        ))}
                                </ul>
                            </div>
                        ) : (
                            <div>
                                <a
                                    href={item.href}
                                    class="inline-block font-medium"
                                >
                                    {item.label}
                                </a>
                            </div>
                        )}
                    </div>
                ))
        }
        <div class="pt-20">
            <a href="/contacto" class="text-xs font-medium">CONTACTO</a>
        </div>
    </form>
</nav>
